<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page29</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Topics</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-01-26T01:24:54Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>topics.html</key>
						<dict>
							<key>Digest</key>
							<data>
							TTZEcZJNH9mcbkxwmB+6
							Ag==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>topics_files/small_p73649_n73644.png</key>
						<dict>
							<key>Digest</key>
							<data>
							cgZsN8WlEC/NwIdL6wl8
							Qg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>topics_files/stacks_page_page29.css</key>
						<dict>
							<key>Digest</key>
							<data>
							bmCZM8+BagZDRmuR8lx+
							tg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>topics_files/stacks_page_page29.js</key>
						<dict>
							<key>Digest</key>
							<data>
							NUXH2kWZcBpQoP8Cxga4
							Zg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page29</string>
					<key>SiteRoot</key>
					<string>content</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
