<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>CocoNuTs: Complex Networks</string>
				<key>CreatedDate</key>
				<date>2016-01-26T00:35:51Z</date>
				<key>ID</key>
				<string>page28</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-home fa-2x"&gt;&lt;/i&gt;</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-01-26T01:17:54Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>favicon.ico</key>
						<dict>
							<key>Digest</key>
							<data>
							wHrV0H9O8MQsuHyBRaha
							gQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/small_p73560_n73644.png</key>
						<dict>
							<key>Digest</key>
							<data>
							cgZsN8WlEC/NwIdL6wl8
							Qg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page28.css</key>
						<dict>
							<key>Digest</key>
							<data>
							lkXl0V0uSvgHbFfO8ebl
							XA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page28.js</key>
						<dict>
							<key>Digest</key>
							<data>
							rRNkYexiYikJNA9RuEaN
							5w==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							XigyIYHkh8pgVWmJzABo
							DA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>rw_common/version.txt</key>
						<dict>
							<key>Digest</key>
							<data>
							kWAkKXyyiKYbu50oU3Gz
							aQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>sitemap.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							JExXXAxsiCk9DN9p14nC
							ng==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page28</string>
					<key>SiteRoot</key>
					<string></string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
